
.container {
    margin: 0px 300px  auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

a {
    padding: 1px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 30px;
}

.link{
    color:salmon;
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;

}


.active {
    background-color: darkturquoise;
    color: white;
}
