
.container {
    margin: -70px 400px  auto;
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

a {
    padding: 1px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.link{
    color:salmon;
    font-size: 30px;
    font-family: 'Gill Sans', sans-serif;
    margin: 10px auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.active {
    background-color: darkturquoise;
    color: white;
}
