
.container {
    margin: -70px 400px  auto;
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

a {
    padding: 2px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.link{
    color:salmon;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}


.active {
    background-color: darkturquoise;
    color: white;
}
